<pre>// Hello world in <a href="https://en.wikipedia.org/wiki/Action_Code_Script" target="_blank">Action Code Script</a> (scripting language for the Hexen/Doom game engine)

#include "zcommon.acs"

script 1 ENTER
{
    print(s:"Hello World!");
} </pre>
