<p>Hello world in <a href="https://esolangs.org/wiki/Aheui" target="_blank">aheui</a>. This language has no comments.</p>

<pre>&#48164;&#48163;&#46384;&#48736;&#48163;&#48159;&#46384;&#49100;
&#48736;&#47587;&#54028;&#48744;&#48155;&#48164;&#46748;&#47951;
&#46027;&#48172;&#53461;&#48736;&#47587;&#48527;&#46160;&#48519;
&#48379;&#47811;&#48149;&#48156;&#46775;&#53804;&#47951;&#48534;
&#47811;&#46020;&#47811;&#55148;&#47699;&#47951;&#47951;&#48536;
&#47811;&#48396;&#53664;&#48276;&#45908;&#48268;&#49100;&#46748;
&#48977;&#48960;&#47699;&#47699;&#45908;&#48275;&#48848;&#46752;
&#48960;&#45929;&#48272;&#47699;&#48848;&#45909;&#45908;&#48261;</pre>
