<pre>{
    "Comment": "Hello world in <a href="https://states-language.net/spec.html">Amazon States Language</a>",
    "StartAt": "Hello World",
    "States": {
    "Hello World": { 
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:HelloWorld",
      "End": true
    }
  }
}</pre>
