<pre>Hello world in <a href="https://github.com/michaeldv/ante" target="_top">Ante</a>. This language has no comments.

9&diams;8&hearts;J&diams;A&diams;2&clubs;3&hearts;7&spades;J&diams;A&diams;7&diams;J&diams;J&diams;A&diams;3&diams;J&diams;5&hearts;6&diams;4&hearts;J&hearts;A&hearts;6&spades;6&spades;J&hearts;A&diams;8&diams;J&diams;A&diams;8&spades;J&diams;A&diams;3&diams;J&diams;A&diams;6&spades;J&diams;A&diams;8&spades;J&diams;A&hearts;3&diams;2&spades;J&hearts;A&hearts;2&clubs;6&spades;J&hearts;</pre>
