<pre>// Hello world in the <a href="https://www.arduino.cc/en/Reference/HomePage">Arduino programming language</a>

void setup()
{
  Serial.begin(9600);
  Serial.println("Hello, world!");
}

void loop()
{
  
}</pre>
