<pre>' Hello World in <a target="_top" href="http://en.wikipedia.org/wiki/Picaxe">PICAXE</a> BASIC
Symbol TX_PIN = 0
Symbol TX_BAUD = N2400
SerOut TX_PIN, TX_BAUD, ( "Hello World", CR, LF )</pre>
