<pre>%Hello world in <a target="_top" href="http://en.wikipedia.org/wiki/Bibtex">BibTex</a>

ENTRY{author}{}{}

FUNCTION {hello.world}
{ 
  "Hello World!" write$ newline$
}

READ 
EXECUTE {hello.world}</pre>
