<pre>' Hello World for <a target="_top" href="http://en.wikipedia.org/wiki/Blitz_Research">BlitzMax</a>

Graphics 640,480,16
While Not KeyHit(KEY_ESCAPE)
    Cls
    DrawText "Hello World",0,0
    Flip
EndWhile</pre>
