<pre>&lt;!— Hello World in  <a href="https://help.sap.com/viewer/0884fb55479542b38fb676e8f5b250a1/7.5.8/en-US/4c56854fe8530d6ae10000000a15822b.html">SAP Business Server Pages (BSP)</a>
&lt;%@page language="abap"%&gt;
&lt;%@extension name="htmlb" prefix="htmlb"%&gt;
&lt;html&gt;&lt;body&gt;
&lt;%
  CONSTANTS lv_hworld TYPE string VALUE `Hello World!`.
%&gt;
&lt;%=lv_hworld%&gt;"&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
