<p>Hello world in <a href="http://esolangs.org/wiki/Ecstatic" target="_top">Ecstatic</a>. No comments are possible in this language.</p>

<pre>!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</pre>

<p style="text-align:left;font-size:x-small">(followed by another 24,866,256,684,781,338,733,321,022,194,929,619,017,923,951,399,467,222,375,071,721,694,990,877,932,162,871,254,860,704 exclamation points)</p>
