<pre>&#128116; Hello world in <a href="http://www.emojicode.org">Emojicode</a>

&#128007; &#128060; &#127815;
  &#128007;&#128022; &#127937; &#10145;&#65039; &#128642; &#127815;
    &#128512; &#128292;Hello world!&#128292;
    &#127822; 0
  &#127817;
&#127817;</pre>
