<pre># Hello world in <a href="https://en.wikipedia.org/wiki/Ezhil_(programming_language)">Ezhil</a>

&#2986;&#2980;&#3007;&#2986;&#3021;&#2986;&#3007; "&#2997;&#2979;&#2965;&#3021;&#2965;&#2990;&#3021;!"
&#2986;&#2980;&#3007;&#2986;&#3021;&#2986;&#3007; "&#2953;&#2994;&#2965;&#3015; &#2997;&#2979;&#2965;&#3021;&#2965;&#2990;&#3021;"
&#2986;&#2980;&#3007;&#2986;&#3021;&#2986;&#3007; "******* &#2984;&#2985;&#3021;&#2993;&#3007;!. *******"
exit()</pre>
