Hello World in human languages.<p>
<table border="0" cellspacing="0">
  <tr><td>Afrikaans</td>        <td>Hallo, w&ecirc;reld!</td>
  <tr><td>Albanian</td>         <td>Persh&euml;ndetje Bot&euml;</td>
  <tr><td>Arabic</td>           <td>&#1571;&#1607;&#1604;&#1575;&#1611; &#1576;&#1575;&#1604;&#1593;&#1575;&#1604;&#1605;</td>
                                <td><i>(Ahlan bil 'Alam)</i></td>
  <tr><td>Armenian</td>         <td>&#1330;&#1377;&#1408;&#1381;&#1371;&#1410;, &#1377;&#1399;&#1389;&#1377;&#1408;&#1392;&#1417;</td>
                                <td><i>(barev ash'kharh)</i></td>
  <tr><td>Azeri</td>            <td>Salam D&#252;nya</td>
  <tr><td>Czech</td>            <td>Ahoj Sv&#283;te!</td>
  <tr><td>Basque/Euskara</td>   <td>Kaixo mundua!</td>
  <tr><td>Belarusian</td>       <td>&#1055;&#1088;&#1099;&#1074;&#1110;&#1090;&#1072;&#1085;&#1085;&#1077; &#1089;&#1074;&#1077;&#1090;</td>
                                <td><i>(Pryvitannie sviet)</i></td>
  <tr><td>Bemba</td>            <td>Shani Mwechalo!</td>
  <tr><td>Bengali</td>          <td>Shagatam Prithivi!</td>
  <tr><td>Bosnian</td>          <td>Zdravo Svijete!</td>
  <tr><td>Bulgarian</td>        <td>&#1047;&#1076;&#1088;&#1072;&#1074;&#1077;&#1081;, &#1089;&#1074;&#1103;&#1090;!</td>
                                <td><i>(Zdrav'ei svi'at)</i></td>
  <tr><td>Cambodian</td>        <td>&#6023;&#6086;&#6042;&#6070;&#6036;&#6047;&#6077;&#6042; &#6038;&#6071;&#6039;&#6038;&#6043;&#6084;&#6016;</td>
                                <td><i>(chomreabsuor  piphoplok)</i></td>
  <tr><td>Catalan</td>          <td>Hola m&oacute;n!</td>
  <tr><td>Chinese</td>          <td>&#20320;&#22909;&#19990;&#30028;</td>
                                <td><i>(n&#464; h&#462;o sh&igrave; ji&egrave;)</i></td>
  <tr><td>Cherokee</td>         <td>&#5027;&#5071;&#5106; &#5025;&#5046;&#5039;</td>
                                <td><i>(O-si-yo E-lo-hi)</i></td>
  <tr><td>Chinook Wawa</td>     <td>Klahowya Hayas Klaska</td>
  <tr><td>Croatian</td>         <td>Bok Svijete!</td>
  <tr><td>Danish</td>           <td>Hej, Verden!</td>
  <tr><td>Dutch</td>            <td>Hallo, wereld!</td>
  <tr><td>English</td>          <td>Hello World!</td>
  <tr><td>Esperanto</td>        <td>Saluton mondo!</td>
  <tr><td>Estonian</td>         <td>Tere maailm!</td>
  <tr><td>Finnish</td>          <td>Hei maailma!</td>
  <tr><td>French</td>           <td>Salut le Monde!</td>
  <tr><td>Frisian</td>          <td>Hallo, wr&acirc;ld!</td>
  <tr><td>Galician</td>         <td>Ola mundo!</td>
  <tr><td>German</td>           <td>Hallo Welt!</td>
  <tr><td>Greek</td>            <td>&#915;&#949;&#953;&#945; &#963;&#959;&#965; &#954;&#972;&#963;&#956;&#949;!</td>
                                <td><i>(Geia soy kosme)</i></td>
  <tr><td>Hawaiian</td>         <td>Aloha Honua</td>
  <tr><td>Hebrew</td>           <td>&#1513;&#1500;&#1493;&#1501; &#1506;&#1493;&#1500;&#1501;</td>
                                <td><i>(Shalom Olam)</i></td>
  <tr><td>Hindi</td>            <td>&#2344;&#2350;&#2360;&#2381;&#2340;&#2375; &#2342;&#2369;&#2344;&#2367;&#2351;&#2366;</td>
                                <td><i>(namaste duniya)</i></td>
  <tr><td>Hmong</td>            <td>Nyob zoo ntiaj teb.</td>
  <tr><td>Hungarian</td>        <td>Hell&oacute; vil&aacute;g!</td>
  <tr><td>Icelandic</td>        <td>Hall&oacute; heimur!</td>
  <tr><td>Igbo</td>             <td>Ndewo &#7908;wa</td>
  <tr><td>Indonesian</td>       <td>Halo Dunia!</td>
  <tr><td>Irish</td>            <td>Dia dhaoibh, a dhomhain!</td>
  <tr><td>Italian</td>          <td>Ciao Mondo!</td>
  <tr><td>Japanese</td>         <td>&#12371;&#12435;&#12395;&#12385;&#12399;&#12289; &#19990;&#30028;&#65281;</td>
                                <td><i>(konnichiwa sekai)</i></td>
  <tr><td>Kannada</td>          <td>&#3257;&#3250;&#3275; &#3253;&#3248;&#3277;&#3250;&#3277;&#3233;&#3277;</td>
                                <td><i>(Hal&#333; varl&#7693;)</i></td>
  <tr><td>Kiswahili</td>        <td>Habari dunia!</td>
  <tr><td>Kikuyu</td>           <td>Niatia thi!</td>
  <tr><td>Klingon</td>          <td>nuqneH</td>
  <tr><td>Korean</td>           <td>&#48152;&#44049;&#45796; &#49464;&#49345;&#50500;</td>
                                <td><i>(bangabda, sesangah)</i></td>
  <tr><td>Lao</td>              <td>&#3754;&#3760;&#3738;&#3762;&#3725;&#3732;&#3765;,&#3778;&#3749;&#3713;</td>
                                <td><i>(sabaidi olk)</i></td>
  <tr><td>Latin</td>            <td>AVE MVNDE</td>
                                <td><i>(ave munde)</i></td>
  <tr><td>Latvian</td>          <td>Sveika, Pasaule!</td>
  <tr><td>Lithuanian</td>       <td>Sveikas, Pasauli</td>
  <tr><td><a href="https://en.wikipedia.org/wiki/Lojban">Lojban</a></td>
                                <td>coi li terdi</td>
  <tr><td>Luxembourgish</td>    <td>Moien Welt!</td>
  <tr><td>Malagasy</td>         <td>Manao ahoana ry tany!</td>
  <tr><td>Malayalam</td>        <td>Namaskaram, lokame</td>
  <tr><td>Maltese </td>         <td>Merhba lid-dinja</td>
  <tr><td>Norwegian</td>        <td>Hallo verden!</td>
  <tr><td>Persian</td>          <td>!&#1587;&#1604;&#1575;&#1605; &#1583;&#1606;&#1740;&#1575;</td>
                                <td><i>(Salaam Donyaa!)</i></td>
  <tr><td>Polish</td>           <td>Witaj &#347;wiecie!</td>
  <tr><td>Portuguese</td>       <td>Ol&aacute;, mundo!</td>
  <tr><td>Punjabi</td>          <td>&#2616;&#2596;&#2623; &#2616;&#2637;&#2608;&#2624; &#2565;&#2581;&#2622;&#2610; &#2598;&#2625;&#2600;&#2623;&#2566;</td>
                                <td><i>(Sati sr&#299; ak&#257;la duni'&#257;)</i></td>
  <tr><td>Romanian</td>         <td>Salut lume!</td>
  <tr><td>Russian</td>          <td>&#1047;&#1076;&#1088;&#1072;&#1074;&#1089;&#1090;&#1074;&#1091;&#1081;, &#1084;&#1080;&#1088;!</td>
                                <td><i>(Zdra'vstvuj mi'r)</i></td>
  <tr><td>Scots Gaelic</td>     <td>Hal&ograve;, a Shaoghail!</td>
  <tr><td>Serbian</td>          <td>Zdravo Svete!</td>
  <tr><td>Slovak</td>           <td>Ahoj, svet!</td>
  <tr><td>Slovenian</td>        <td>Pozdravljen svet!</td>
  <tr><td>Spanish</td>          <td>&iexcl;Hola mundo!</td>
  <tr><td>Swedish</td>          <td>Hall&aring; v&auml;rlden!</td>
  <tr><td>Tagalog</td>          <td>Kamusta mundo!</td>
  <tr><td>Tamil</td>            <td>&#3001;&#2994;&#3019; &#2953;&#2994;&#2965;&#2990;&#3021;</td>
                                <td><i>(Hal&#333; ulakam)</i></td>
  <tr><td>Telugu</td>           <td>&#3129;&#3122;&#3147; &#3125;&#3120;&#3122;&#3149;&#3105;&#3149;</td>
                                <td><i>(Hal&#333; varal&#7693;)</i></td>
  <tr><td>Thai</td>             <td>&#3626;&#3623;&#3633;&#3626;&#3604;&#3637;&#3650;&#3621;&#3585;!</td>
                                <td><i>(sawadee lok)</i></td>
  <tr><td>Turkish</td>          <td>Merhaba D&uuml;nya!</td>
  <tr><td>Ukrainian</td>        <td>&#1055;&#1088;&#1080;&#1074;i&#1090;, &#1089;&#1074;i&#1090;&#1077;!</td>
                                <td><i>(Pryvi't svi'te)</i></td>
  <tr><td>Urdu</td>             <td>&#1729;&#1740;&#1604;&#1608; &#1583;&#1606;&#1740;&#1575; &#1608;&#1575;&#1604;&#1608;</td>
  <tr><td>Vietnamese</td>       <td>Xin ch&agrave;o th&#x1EBF; gi&#x1EDB;i</td>
  <tr><td>Welsh</td>            <td>S'mae byd!</td>
  <tr><td>Yiddish</td>          <td>&#1492;&#1506;&#1500;&#1488; &#1493;&#1493;&#1506;&#1500;&#1496;</td>
                                <td><i>(hela velt)</i></td>
  <tr><td>Zulu</td>             <td>Sawubona Mhlaba</td>
</table><p>
