<pre>Hello World in <a target="_top" href="http://en.wikipedia.org/wiki/INTERCAL">Intercal</a>

DO ,1 &lt;- #13
PLEASE DO ,1 SUB #1 &lt;- #234
DO ,1 SUB #2 &lt;- #112
DO ,1 SUB #3 &lt;- #112
DO ,1 SUB #4 &lt;- #0
DO ,1 SUB #5 &lt;- #64
DO ,1 SUB #6 &lt;- #194
DO ,1 SUB #7 &lt;- #48
PLEASE DO ,1 SUB #8 &lt;- #22
DO ,1 SUB #9 &lt;- #248
DO ,1 SUB #10 &lt;- #168
DO ,1 SUB #11 &lt;- #24
DO ,1 SUB #12 &lt;- #16
DO ,1 SUB #13 &lt;- #214
PLEASE READ OUT ,1
PLEASE GIVE UP</pre>
