<pre>// Hello World in <a target="_top" href="http://giantblob.com/compiler/">L</a>

namespace Hello is
    class Main is
        void init is()
            IO.Std.out.println("Hello World!");
        end
    end
end</pre>
