<pre>// Hello World in <a href="http://en.wikipedia.org/wiki/Lisaac" target="_top">Lisaac</a>
Section Header

  + name        := HELLO_WORLD;

Section Inherit

  - parent_object:OBJECT := OBJECT;

Section Public

  - main &lt;-
  (
    "Hello world !\n".print;
  );</pre>
