<pre>         R Hello world in <a href="https://en.wikipedia.org/wiki/MAD_(programming_language)" target="_blank">MAD</a>

PRINT FORMAT HELLOW
VECTOR VALUES HELLOW=$13h0Hello, world*$
END OF PROGRAM</pre>
