<p>Hello world in <a href="http://en.wikipedia.org/wiki/Plankalk&uuml;l" target="_blank">Plankalk&uuml;l</a></p>

<pre>R1.1(V0[:sig]) =&gt; R0
R1.2(V0[:m x sig]) =&gt; R0
0 =&gt; i | m + 1 =&gt; j
[W [ i < j -&gt; [ R1.1(V0[i: m x sig]) =&gt; R0 | i + 1 => i ] ] ]
END
R1.3() =&gt; R0
'H';'e';'l';'l';'o';',';' ';'w';'o';'r';'l';'d';'!' =&gt; Z0[: m x sig] R1.2(Z0) =&gt; R0
END</pre>
