<pre>//beginning Hello World in <a target="_top" href="http://rey-lang.ovh.org/en/index.htm">Rey</a>:
 
korzystaj "Konsola";
 
program
{
    PiszLinia("Hello World");
}
//end Hello World in Rey</pre>
