<pre>/* Hello world in <a href="https://en.wikipedia.org/wiki/SAS_language">SAS</a> */

* Writes as output title;
TITLE "Hello World!";
* writes to the log;
data _null_;
    PUT "Hello world!";
run;</pre>
