<pre>| makeresults `comment("Hello world in <a href="https://en.wikipedia.org/wiki/Splunk">Splunk</a> <a href="http://docs.splunk.com/Documentation/Splunk/7.0.2/Search/Aboutthesearchlanguage">SPL</a>")` | eval mystring="Hello, World!"</pre>
