<pre>&lt;html&gt;&lt;body&gt;&lt;p&gt;
&lt;!-- Hello world as <a href="http://en.wikipedia.org/wiki/Server_Side_Includes" target="_top">Server Side Includes</a>, embedded in HTML. --&gt;
&lt;!--#set var="hello" value="Hello, world!" --&gt;
&lt;!--#echo var="hello" --&gt;
&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</pre>
