<pre>// Hello World in <a target="_top" href="http://en.wikipedia.org/wiki/Vala_(programming_language)">Vala</a>

using GLib;

int main(string[] args) {
   stdout.printf("Hello world!\n");
   return 0;
}</pre>
