<pre>&lt;!-- Hello World in <a href="http://en.wikipedia.org/wiki/Vexi" target="_top">Vexi</a>. --&gt;

&lt;vexi xmlns:ui="vexi://ui"&gt;
    &lt;ui:box framewidth="200" frameheight="100"&gt;
        &lt;ui:box text="Hello World!" /&gt;
        vexi.ui.frame = thisbox;
    &lt;/ui:box&gt;
&lt;/vexi&gt;
/&lt;</pre>
