<pre>// Hello world in <a href="http://absurdlangscollection.comuf.com/milambda.php">μλ</a>

&gt;  EEEEEEEΔΔΘς       v
v  ςΘΔEEEEEEEEEE     &lt;
&gt;  EEEEEEEEEEEδδΘς   v
v  ΘδδEEEEEEEEEEEς   &lt;
&gt;  ς EEEEEEEEEEEΔΘ   v
v  ΘΔΔΔΔEEEEς        &lt;
&gt;  ςEEEΔΔΘ           v
v  ΘδEEEEEEEEEEEEς   &lt;
&gt;  ςEEEEEEEEEEEΔΘ    v
v  ΘΔΔΔΔEEEEEEEEEEEς &lt;
&gt;  ςEEEEEEEEEEEδδΘ   v
v  ΘEEEEEEEEEEς      &lt;
&gt;  ςEEEΔΔΔΘ          λ</pre>
